.App {
  margin: 200px;
  /* flex-direction: column; */
  border: 2px solid black;
  width: 209px;
  background-color: #96b887;

}

.cell {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  font-size: 20px;
  justify-content: center;
  font-weight: bold;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 157px;
}

.abc {
  display: flex;
}

/* .window {
  font-size: 20px;
  font-weight: bold;
padding: 10px;

} */

.window {
  height: 60px;
  background-color: #958f8f;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: right;
  padding: 0 10px;
  /* border-radius: 5px; */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
